@use '.././shared/variables' as *;

.menuContainer {
  padding-left: 100px;
  padding-right: 72px;
  position: sticky;
  top: 10px;
}
.title {
  font-family: $main-font;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.32;
  color: $text-color;
  margin-top: 80px;
  margin-bottom: 10px;
}
.welcome {
  font-family: $main-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  color: $main-color;
  margin-bottom: 60px;
}
.start {
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  color: $text-color;
  margin-bottom: 20px;
}
.menuList {
  display: flex;
  & .menuItem:last-child {
    margin-right: 0;
  }
}
.menuItem {
  margin-right: 16px;
}
.menuIcon {
  display: block;
  margin-bottom: 20px;
}
