@use '.././shared/variables' as *;

.menuContainer {
  padding: 20px;
  margin: 0 auto;
}
.menuList {
  margin: 0 auto;
  & .menuItem:last-child {
    margin-bottom: 0;
  }
}
.menuItem {
  margin-bottom: 15px;
  width: 140px;
}
.title {
  font-family: $main-font;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.32;
  color: $text-color;
  margin-top: 80px;
  margin-bottom: 10px;
}
.welcome {
  font-family: $main-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  color: $main-color;
  margin-bottom: 60px;
}
.start {
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  color: $text-color;
  margin-bottom: 20px;
}

.menuIcon {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .menuContainer {
    padding-top: 20px;
    display: block;
    margin-right: 100px;
  }

  .menuList {
    display: flex;
    & .menuItem:last-child {
      margin-right: 0;
    }
  }
  .menuItem {
    margin-right: 10px;
  }
  .menuIcon {
    display: block;
    margin-bottom: 20px;
  }
}
