@use '../shared/variables' as *;

.breeds_buttoncontainer {
  display: flex;
  margin-bottom: 15px;
}
.breeds_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  border-radius: 10px;
  background-color: $accent-color;
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  color: $white-color;
  padding-top: 5px;
  padding-bottom: 5px;
}

select {
  height: 40px;
  padding-left: 8px;
  border-radius: 10px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $main-color;
  padding: 5px;

  border: none;
  margin-bottom: 15px;

  &:hover {
    border: solid 1px $accent-color;
  }
}
.select_breeds {
  width: 250px;
  // margin-left: 10px;
  background-color: $form-color;
}

.select_limit {
  width: 110px;
  margin-left: 10px;
  background-color: $form-color;
}

button svg {
  fill: $main-color;
}
.button_sort {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: $form-color;
  margin-left: 10px;

  &:hover {
    border: solid 1px $accent-color;
    & svg {
      fill: $accent-color;
    }
  }

  &:focus {
    background-color: $accent-color;

    & svg {
      fill: $white-color;
    }
  }
}
@media screen and (min-width: 768px) {
  .breeds_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .breeds_buttoncontainer {
    margin-bottom: 0;
  }
  .select_breeds {
    width: 220px;
    margin-left: 10px;
  }
  select {
    margin-bottom: 0;
  }
}
