//fonts

$main-font: 'Jost', sans-serif;

// display sizes
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

//colors

$accent-color: #ff868e;
$main-color: #8c8c8c;
$text-color: #1d1d1d;
$white-color: #fff;
$background-color: #e5e5e5;
$background-color-second: #fbe0dc;
