@use '.././shared/variables' as *;

.linksList {
  display: flex;
  margin-top: 15px;
  justify-content: center;

  & .linksList_item:last-child {
    margin-right: 0;
  }
}
.linksList_item {
  margin-right: 10px;
}
.linksList_button {
  background-color: $white-color;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    fill: $accent-color;
  }

  &:hover {
    background-color: #fbe0dc;
  }

  &:focus {
    background-color: $accent-color;

    & svg {
      fill: $white-color;
    }
  }
}
