@use '../shared/variables' as *;

.breeds_wrapper {
  padding: 20px;
  text-align: center;
  background-color: $white-color;
  border-radius: 20px;
  margin-top: 10px;
}

.button_page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  & button {
    width: 122px;
    height: 40px;
    background-color: $form-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    & span {
      font-family: $main-font;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 2px;
      color: $main-color;
    }

    &:hover {
      background-color: $background-color-second;

      & span {
        color: $accent-color;
      }
      & svg {
        fill: $accent-color;
      }
    }
    &:focus {
      background-color: $accent-color;

      & span {
        color: $white-color;
      }
      & svg {
        fill: $white-color;
      }
    }
  }
}
.button_prev {
  margin-right: 40px;

  & span {
    margin-left: 15px;
  }
}

.button_next {
  & span {
    margin-right: 15px;
  }
}
