@use '../shared/variables' as *;
.menu {
  display: none;
}
.votingList_item {
  background-color: $form-color;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  & img {
    width: 260px;
    height: auto;
    margin: 0 auto;
  }
  & .item_content {
    margin-top: 20px;
    display: flex;
  }
}

.votingList_time {
  width: 61px;
  border-radius: 5px;
  margin-right: 20px;
  background-color: $white-color;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px 3px 10px;
}

.votingList_voice_disc {
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
  color: $main-color;
  & span {
    color: $text-color;
  }
}
.button_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button_delete {
  fill: $accent-color;
  margin-left: 15px;
}

.no_voting {
  margin-top: 50px;
  font-family: $main-font;
}

@media screen and (min-width: 768px) {
  .votingList_item {
    width: 570px;
    & img {
      width: 100%;
    }
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: block;
  }
}
