@use '../shared/variables' as *;

.voting_wrapper {
  padding: 20px;
  text-align: center;
  background-color: $white-color;
  border-radius: 20px;
  margin-top: 10px;
}

.voting_buttonContainer {
  display: flex;
}
.voting_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  color: $white-color;
  background-color: $accent-color;
  border-radius: 10px;
  letter-spacing: 2px;
}
.card_thumb {
  width: 640px;
  height: 360px;
  border-radius: 20px;
  border: solid 2px $accent-color;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: 20px;
  }

  & ul {
    position: absolute;
    bottom: -45px;
    left: 200px;
  }
}

.button_next {
  width: 100px;
  height: 40px;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: $form-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  & span {
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 2px;
    color: $main-color;
    margin-right: 5px;
  }

  &:hover {
    background-color: $background-color-second;

    & span {
      color: $accent-color;
    }
    & svg {
      fill: $accent-color;
    }
  }
  &:focus {
    background-color: $accent-color;

    & span {
      color: $white-color;
    }
    & svg {
      fill: $white-color;
    }
  }
}
