@use '../shared/variables' as *;

.formGallery {
  background-color: $form-color;
  border-radius: 20px;
  padding: 30px 20px 20px 20px;
  margin: 0 auto;
  width: 220px;
}

select {
  width: 200px;
  height: 40px;
  background-color: $white-color;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  color: $text-color;

  &:hover {
    border: 2px solid $background-color-second;
  }
}
select option {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 10px;
  color: $main-color;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
}

select option:hover .same-as-selected {
  background-color: $background-color-second;
}

.formGallery_lableTitle {
  position: absolute;
  top: -18px;
  left: 10px;
}
.formGallery_lable {
  font-family: $main-font;
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.8;
  color: $main-color;
  position: relative;
  margin-bottom: 15px;
}

.formGallery_showMore {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
  border-radius: 10px;
  & svg {
    fill: $accent-color;
  }

  &:hover {
    background-color: $accent-color;
    & svg {
      fill: $white-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .formGallery {
    margin-bottom: 20px;
    width: 600px;
  }

  .formGallery_listSelect {
    display: flex;
    flex-wrap: wrap;
  }

  .formGallery_listSelect .formGallery_lable:nth-child(even) {
    margin-right: 0;
  }
  .formGallery_listSelect .formGallery_lable:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  select {
    width: 270px;
  }
  .formGallery_selectLimit {
    width: 220px;
    margin-right: 10px;
  }
  .formGallery_lable {
    margin-bottom: 25px;
    margin-right: 20px;
  }
}
