@use '../../components/shared/variables' as *;

.favList {
  margin-top: 15px;

  & li {
    margin: 0 auto;
    & img {
      width: 100%;
      height: auto;
    }
  }
}

.favList_item {
  display: flex;
  background-color: $form-color;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
}

.favList_time {
  width: 61px;
  border-radius: 5px;
  margin-right: 20px;
  background-color: $white-color;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px 3px 10px;
}

.favList_voice_disc {
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
  color: $main-color;
  & span {
    color: $text-color;
  }
}
.button_container {
  display: flex;
  margin-left: auto;
}
.button_delete {
  fill: $accent-color;
  margin-left: 5px;
}
@media screen and (min-width: 1200px) {
  .favList {
    & li {
      width: 600px;
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}
