@use '.././shared/variables' as *;

.searchForm {
  display: flex;
  background-color: $white-color;
  border-radius: 20px;
  padding: 10px 10px 10px 20px;

  &:focus {
    border: $accent-color;
  }
}
.button {
  width: 40px;
  height: 40px;
  background-color: $background-color-second;
  border-radius: 10px;
  margin-left: auto;
}

.searchForm_input {
  display: block;
  width: 260px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $main-color;
}
@media screen and (min-width: 768px) {
  .searchForm_input {
    width: 470px;
    font-size: 20px;
  }
}
