@use '.././shared/variables' as *;
.menuContainer {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  padding: 20px;
  top: 0px;
  left: 0;
  z-index: 10;
  background-color: $background-color;
}
.title {
  font-family: $main-font;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.32;
  color: $text-color;
  margin-top: 80px;
  margin-bottom: 10px;
}
.welcome {
  font-family: $main-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  color: $main-color;
  margin-bottom: 60px;
}
.start {
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  color: $text-color;
  margin-bottom: 20px;
}
.menuList {
  margin: 0 auto;
  width: 140px;
}
.menuItem {
  margin-bottom: 20px;
}
.menuIcon {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .menuList {
    display: flex;
    justify-content: center;
    & .menuItem:last-child {
      margin-right: 0;
    }
  }
  .menuItem {
    margin-right: 16px;
  }
  .menuIcon {
    display: block;
    margin-bottom: 20px;
  }
}
