@use '../../components/shared/variables' as *;

.imageList {
  grid-gap: 20px;
  counter-reset: li;
  display: grid;
  grid-auto-rows: 140px;
  grid-template-columns: repeat(3, 1fr);
}

.imageList_item:nth-child(10n + 1),
.imageList_item:nth-child(10n + 8) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.imageList_item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  &:hover .imageList_photo {
    opacity: 1;
    filter: blur(2px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  // &:hover .imageList_itemTitle {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  //   &:hover .imageList_itemButton {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }
  //   &:focus .imageList_itemButton{
  // background-color: $accent-color;

  //   }
}

.imageList_photo {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.imageList_itemTitle {
  display: none;
  position: absolute;
  bottom: -5px;
  left: 10px;
  right: 10px;
  height: 34px;
  text-align: center;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $accent-color;
  background-color: $white-color;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.imageList_itemButton {
  width: 40px;
  height: 40px;
  background-color: $white-color;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 80px;
  right: 80px;

  & svg {
    fill: $accent-color;
  }
}
