@use '../../components/shared/variables' as *;

.imageList {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 140px);
}

.imageList_item {
  position: relative;

  &:hover .imageList_photo {
    opacity: 1;
    filter: blur(2px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    // background-color: rgba(255, 134, 142, 0.6);
  }
  &:hover .imageList_itemTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover .imageList_itemButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.imageList_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.imageList_itemTitle {
  display: none;
  position: absolute;
  bottom: -5px;
  left: 10px;
  right: 10px;
  height: 34px;
  text-align: center;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $accent-color;
  background-color: $white-color;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.imageList_itemButton {
  width: 40px;
  height: 40px;
  background-color: $white-color;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 80px;
  right: 80px;

  & svg {
    fill: $accent-color;
  }
}
