@use '../shared/variables' as *;

.galleryButton_comeBack {
  background: $background-color-second;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  & svg {
    fill: $accent-color;
  }
  &:focus,
  &:hover {
    background-color: $accent-color;

    & svg {
      fill: $white-color;
    }
  }
}
