@use '../../components/shared/variables' as *;

.homePage_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 72px;
  position: relative;
}

.homePage_menu {
  position: sticky;
  top: 50%;
}

.homePage_photoContainer {
  border-radius: 20px;
  height: 800px;
  margin-top: 30px;
  background-image: url(../../image/girl-and-pet.png),
    url(../../image/backgraund.png);
  background-position: center;
  background-repeat: no-repeat;
}
