@use '../../components/shared/variables' as *;

@media screen and (min-width: 768px) {
  .homePage_photoContainer {
    height: 780px;
    width: 750px;
    background-image: url(../../image/girl-and-pet.png);
    position: absolute;
    top: -65px;
    left: -30px;
  }
  .backgroung {
    margin-left: 35px;
    border-radius: 20px;
    background-image: url(../../image/backgraund.png);
    height: 690px;
    width: 700px;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .homePage_photoContainer {
    height: 900px;
    width: 780px;
    background-image: url(../../image/girl-and-pet.png);
    position: absolute;
    top: -60px;
    left: -55px;
  }
  .backgroung {
    margin-left: 20px;
    border-radius: 20px;
    background-image: url(../../image/backgraund.png);
    height: 840px;
    width: 700px;
    background-size: 640px 840px;
    position: relative;
  }
}
