@use '../../components/shared/variables' as *;

.homePage_photoContainer {
  height: 900px;
  width: 670px;
  background-image: url(../../image/girl-and-pet.png);
  position: absolute;
  top: -55px;
  left: -40px;
}
.backgroung {
  border-radius: 20px;
  background-image: url(../../image/backgraund.png);
  height: 840px;
  width: 480px;
  background-size: 640px 840px;
  position: relative;
}
