@use '../shared/variables' as *;
.catCard_container {
  padding: 20px;
  background-color: $white-color;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
}
.catCard_Button {
  display: flex;
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.catCard_Button_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $accent-color;
  background-color: $background-color-second;
  border-radius: 10px;
  margin-right: 10px;
}
.catCard_Button_catId {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  color: $white-color;
  background-color: $accent-color;
  border-radius: 10px;
}
.card_thumb {
  margin: 0 auto;
  overflow: hidden;
}
.card_photo {
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}
.wrapper_desc {
  border: 2px solid $background-color-second;
  border-radius: 20px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  text-align: left;
  padding: 5px;
}
.cat_breed {
  font-family: $main-font;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.44;
  color: $text-color;
  position: absolute;
  // left: 250px;
  top: -30px;
  background-color: #fff;
}
.cat_family {
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  color: $main-color;
  margin-top: 15px;
  margin-bottom: 20px;
  // max-width: 590px;
  padding: 5px;
}
.cat_desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: left;
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.44;
  color: $text-color;
  margin-bottom: 40px;
}
.cat_temp {
  // margin-left: 40px;
}
.cat_span {
  display: inline-block;
  text-align: left;
  color: $main-color;
}
.cat_desc_list .cat_desc_listItem {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .catCard_Button_title {
    width: 143px;
  }
  .catCard_Button_catId {
    width: 90px;
  }
  .card_thumb {
    width: 600px;
  }

  .wrapper_desc {
    width: 600px;
  }
  .cat_breed {
    position: absolute;
    left: 250px;
    top: -30px;
  }
  .cat_family {
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 590px;
  }
  .cat_desc {
    margin-bottom: 40px;
  }
  .cat_temp {
    margin-left: 40px;
  }
}
